{{> home-post post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body" class="form-control"></textarea>
    </div>

    <div>
        <button type="submit" class="edit-btn btn">Add Comment</button>
    </div>
</form>
{{/if}}

{{> comments }}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}